@charset "UTF-8";

/*Bootstrap Css*/
@import url("bootstrap3.min.css");

/*Icons*/
/* @import url("icons.css"); */

/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&amp;display=swap');



/* ---------------------------------- */
/* Photo Section 
------------------------------------- */

.kode-inner-fixer {
    background-color: #f2f2f2;
    border-bottom: 1px solid;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
    float: left;
    margin-bottom: 30px;
    padding: 45px 0;
    width: 100%;
}
.kode-inner-fixer .kode-fixer-counter h2 {
    color: #ffffff;
    padding: 15px 10px;
}
.kode-fixer-list {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
    display: table;
    width: 100%;
}
.kode-fixer-list ul {
    display: table-row;
}
.kode-fixer-list ul li {
    display: table-cell;
    vertical-align: middle;
}
.table-head li {
    padding: 15px 10px;
    text-align: center;
    width: 20%;
}
.table-head li:first-child {
    width: 32%;
}
.table-head li h5 {
    color: #ffffff;
    margin: 0;
    text-transform: uppercase;
}
.kode-section-title {
    margin-bottom: 30px;
    width: 100%;
    align-self:center;
}
.kode-widget-title {
    float: left;
    margin-bottom: 18px;
    width: 100%;
}
.kode-section-title h2, .kode-widget-title h2 {
    border-bottom: 1px solid;
    display: inline-block;
    padding: 0 0 7px;
    text-transform: uppercase;
}
.widget-recent-news ul li:hover time {
    color: #ffffff;
}
.kode-section-title.kode-white h2 {
    border-bottom-color: #fff !important;
    color: #ffffff !important;
}
.kode-white.heading-12 p, .kode-white.heading-12 h2 {
    color: #fff !important;
}
.shape-view .kode-section-title {
    margin-bottom: 90px;
}
.fixer-pagination a {
    border: 1px solid #ffffff;
    border-radius: 2px;
    color: #ffffff;
    float: right;
    height: 26px;
    margin-right: 10px;
    padding: 4px 0 0;
    width: 26px;
}
.fixer-pagination a:hover {
    background-color: #ffffff;
}
.table-body:nth-child(2n) li {
    background-color: #333333;
}
.table-body:nth-child(2n) li {
    border-left: 1px solid #404040;
}
.table-body li {
    background-color: #404040;
    color: #ffffff;
    padding: 25px 0;
    text-align: center;
}
.list-thumb {
    color: #ffffff;
    display: inline-block;
}
.list-thumb img {
    margin-right: 8px;
}
.table-body li span {
    display: inline-block;
    font-size: 20px;
    width: 22%;
}
.table-body li small {
    text-transform: uppercase;
}
.fixer-btn a {
    background-color: #ffffff;
    color: #333333;
    float: right;
    font-weight: bold;
    margin-right: 20px;
    padding: 3px 14px;
}
.table-body li.fixer-btn {
    width: 26%;
}
.fixer-btn a:hover {
    color: #ffffff;
}
.icon-list li {
    border-bottom: 1px solid #ececec;
    color: #666666;
    list-style: outside none none;
    padding: 3px 0;
}
.icon-list li i {
    margin-right: 10px;
}
.kode-team-timeline {
    float: left;
    position: relative;
    width: 100%;
}
.kode-team-timeline ul {
    margin: 0 0 0 -198px;
    position: relative;
}
.kode-team-timeline ul::before {
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    content: "";
    height: 94%;
    left: 50%;
    margin: 0 0 0 98px;
    position: absolute;
    top: 0;
    width: 2px;
}
.utf-photo-section-block {
	position: absolute;
    content: '';
    bottom: 0px;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: url(../images/sports/background.jpg) no-repeat;
    background-size: cover;
    background-position: 50%;
    display: block;
    position: relative;
}
.utf-photo-section-block::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.85;
    display: block;
    position: absolute;
    top: 0;
}
.utf-photo-text-content h2 {
    margin-bottom: 15px;
    line-height: 46px;
    font-size: 34px;
    font-weight: 700;
	color:#ffffff;
}
.utf-photo-text-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
	color:#ffffff;
    opacity: 0.85;
}
.utf-photo-text-content {
    background: transparent;
	padding: 70px 0px 0 0;
	font-weight: 500;
	z-index: 99;
	position: relative;
}
ul.utf-download-text1 {
    float: left;
    width: 100%;
    margin: 0;
	margin-bottom: 0px;
    padding: 0;
    margin-bottom: 20px;
    list-style-type: none;
}
ul.utf-download-text1 li {
    float: left;
    margin: 0;
	margin-top: 0px;
    margin-top: 15px;
    transition: 0.35s;
}
ul.utf-download-text1 li a {
    float: left;
    border: 1px solid rgba(255, 255, 255, 0.6);
    width: 175px;
    height: 65px;
    border-radius: 4px;
    margin-right: 25px;
    padding-left: 20px;
    color: #ffffff;
    position: relative;
    padding-top: 7px;
    transition: 0.35s;
}
ul.utf-download-text1 li a i {
    position: absolute;
    left: 8px;
    top: 10px;
    font-size: 45px;
}
ul.utf-download-text1 li a span {
    float: right;
    width: 70%;
    font-size: 16px;
    font-weight: 600;
}
ul.utf-download-text1 li a img {
	float: left;
    width: 25%;
	margin-top: 3px;
	/* padding-right: 10px; */
}
ul.utf-download-text1 li a p {
    float: right;
    width: 70%;
    margin: 0;
    color: #ffffff;
    font-size: 13px;
    line-height: 20px;
}
ul.utf-download-text1 li a:hover {
    background: #e33324;
    border-color: #e33324;
    transform: scale(1.04);
    transition: 0.35s;
}
.download-img {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
.download-img img {
    max-width: 150%;
    float: right;
    margin-top: -180px;
    margin-right: -100px;
    padding-left: 0px;
}
@media (max-width: 1239px) {
.download-img img{
	display:none;
}
.utf-photo-text-content {
    padding: 75px 0;
}
}
@media (max-width: 991px) {
.utf-photo-text-content h2 {
    margin-bottom: 20px;
    line-height: 40px;
    font-size: 30px;
    font-weight: 700;
}
}
@media (max-width: 479px) {
ul.utf-download-text1 li, ul.utf-download-text1 li a {
    width: 100%;
}
ul.utf-download-text1 li a p {
    font-size: 16px;
}
ul.utf-download-text1 li a span {
    font-size: 26px;
}
ul.utf-download-text1 li a img {
	float: left;
    width: 16%;
	margin-top: 3px;
	/* padding-right: 10px; */
}
}